*{
    margin: 0px;
    padding: 0px;
    font-family: 'Poppins', sans-serif;
    font-size: 1em;
}
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body{
    
    background-color: rgb(33, 33, 33);
    
   
}

.img1 > img {
    display: flex;
    justify-content: center;
    margin: auto;
    margin-top: 20px;
    border-radius: 100%;
    cursor: pointer;
    transition: linear 1s;
    
}

img:hover {
    box-shadow: 0px 0px 10px 0px rgb(149, 30, 149);
    transition: linear 0.6s;
    
}

.box1 {
   margin: auto;
   background-color: rgb(20, 20, 20);
   width: 55vh;
   height: 250px;
   border-radius: 20px;
   margin-top: 100px;
   color: white;
   display: flex;
   justify-content: center;
   align-items: center;
   padding: 0px 10px 0px 10px;
   
}


